<div class="confirmation-container">
    <div class="confirmation-title">CONFIRMADO</div>
    <div class="confirmation-icon">
        <svg viewBox="0 0 100 100">
            <circle class="circle" cx="50" cy="50" r="40"></circle>
            <polyline class="checkmark" points="30,50 45,65 70,35"></polyline>
        </svg>
    </div>
    <div class="confirmation-message">Seu pagamento foi efetuado com sucesso!</div>
    <div class="button-container">
        <button class="button" (click)="irParaAulas()">Visualizar Aula</button>
        <button class="button" (click)="irParaHome()">Voltar para a Home</button>
    </div>
</div>