.input-group .text-danger {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
  }
  btn-custom-blue {
    background-color: #ffffff;
    border-color: #023047;
    color: white;
  }

  btn-custom {
    background-color: #219EBC;
    border-color: #219EBC;
    color: white;
    
  }
  btn-outline-custom {
    background-color: #219EBC;
    border-color: #219EBC;
    color: white;
  }