<div class="container p-5">
    <h3 class="text-center">COMPLETE O CADASTRO</h3>
    <form [formGroup]="form" class="row g-5 needs-validation" novalidate="">
        <div class="col-lg-2 d-flex flex-column align-items-center justify-content-start">
            <img [src]="imagemPreview || 'https://i.pinimg.com/736x/37/57/5a/37575a213755cad83bd408908623ba22.jpg'"
                class="rounded-circle" width="140" height="140" alt="Foto do usuário">
            <input type="file" #inputFile hidden (change)="onFileSelected($event)" accept="image/*">
            <div class="mt-3">
                <button type="button" class="btn btn-primary rounded-pill"
                    style="background-color: #219EBC; border-color: #219EBC;" (click)="inputFile.click()">
                    Alterar
                </button>
            </div>
        </div>

        <div class="col-lg-10">


            <div class="row g-3 mt-1">
                <div class="col-md-8">
                    <label for="">Escolha a modalidade</label>
                    <div class="d-flex p-2 gap-2 mb-2">
                        <button class="btn btn-sm rounded-pill"
                            [style.background-color]="selectedModalidade === 'presencial' ? '#219EBC' : 'transparent'"
                            [style.color]="selectedModalidade === 'presencial' ? 'white' : '#219EBC'"
                            [style.border]="'1px solid #219EBC'" (click)="selectedModalidade = 'presencial'"
                            aria-expanded="selectedModalidade === 'presencial'">
                            Presencial
                        </button>
                        <button class="btn rounded-pill btn-sm"
                            [style.background-color]="selectedModalidade === 'online' ? '#219EBC' : 'transparent'"
                            [style.color]="selectedModalidade === 'online' ? 'white' : '#219EBC'"
                            [style.border]="'1px solid #219EBC'" (click)="selectedModalidade = 'online'">
                            Online
                        </button>

                        <button class="btn rounded-pill btn-sm"
                            [style.background-color]="selectedModalidade === 'hibrido' ? '#219EBC' : 'transparent'"
                            [style.color]="selectedModalidade === 'hibrido' ? 'white' : '#219EBC'"
                            [style.border]="'1px solid #219EBC'" (click)="selectedModalidade = 'hibrido'">
                            Híbrido
                        </button>
                    </div>

                    <!-- Presencial -->
                    <div [ngbCollapse]="selectedModalidade !== 'presencial'" class="mt-2">
                        <div class="input-group">
                            <input type="text" class="form-control col-md-4" id="valor" formControlName="valor"
                                placeholder="Digite o valor da aula presencial">
                        </div>
                        <div>
                            <select type="text" class="form-select mt-2" id="raio" formControlName="raio">
                                <option value="">Selecione o raio de atendimento</option>
                                <option *ngFor="let r of raio" [value]="r">{{ r.nome }}</option>
                            </select>
                        </div>
                    </div>

                    <!-- Online -->
                    <div [ngbCollapse]="selectedModalidade !== 'online'" class="mt-2">
                        <div class="input-group">
                            <input type="text" class="form-control col-md-4" id="valorOnline"
                                formControlName="valorOnline" placeholder="Digite o valor da aula online">
                        </div>
                    </div>

                    <!-- Híbrido -->
                    <div [ngbCollapse]="selectedModalidade !== 'hibrido'" class="mt-2">
                        <div class="input-group">
                            <input type="text" class="form-control col-md-4" id="valorOnline"
                                formControlName="valorOnline" placeholder="Digite o valor da aula online">
                        </div>
                        <input type="text" class="form-control col-md-4 mt-2" id="valor" formControlName="valor"
                            placeholder="Digite o valor da aula presencial">

                        <div>
                            <select type="text" class="form-select mt-2" id="raio" formControlName="raio">
                                <option value="">Selecione o raio de atendimento</option>
                                <option *ngFor="let r of raio" [value]="r.valor">{{ r.nome }}</option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="dropdown mt-4">
                        <button class="btn" [style.background-color]="dadosAdicionados ? '#219EBC' : 'transparent'"
                            [style.color]="dadosAdicionados ? 'white' : '#219EBC'" [style.border]="'1px solid #219EBC'"
                            (click)="isDropdownOpen = !isDropdownOpen">
                            <span *ngIf="!dadosAdicionados">+ Adicionar dados bancários</span>
                            <span *ngIf="dadosAdicionados">
                                <i class="bi bi-check-circle"></i> Dados bancários adicionados</span>
                        </button>

                        <form [formGroup]="bankForm" (ngSubmit)="adicionar()" class="dropdown-menu show p-4"
                            style="width: 320px;" *ngIf="isDropdownOpen">

                            <button type="button" class="btn-close position-absolute top-0 end-0 m-2"
                                (click)="isDropdownOpen = false" aria-label="Close"></button>

                            <div class="mb-3">
                                <label class="form-label" for="banco">Banco</label>
                                <input id="banco" type="text" class="form-control" formControlName="banco"
                                    placeholder="Nome do banco">
                                <div *ngIf="bankForm.get('banco')?.invalid && bankForm.get('banco')?.touched"
                                    class="text-danger mt-1">
                                    <small>Banco é obrigatório.</small>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="agencia">Agência</label>
                                <input id="agencia" type="text" class="form-control" formControlName="agencia"
                                    placeholder="Número da agência">
                                <div *ngIf="bankForm.get('agencia')?.invalid && bankForm.get('agencia')?.touched"
                                    class="text-danger mt-1">
                                    <small>Agência é obrigatória.</small>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="tipoConta">Tipo de Conta</label>
                                <select id="tipoConta" class="form-select" formControlName="tipoConta">
                                    <option value="">Selecione</option>
                                    <option value="corrente">Corrente</option>
                                    <option value="poupanca">Poupança</option>
                                </select>
                                <div *ngIf="bankForm.get('tipoConta')?.invalid && bankForm.get('tipoConta')?.touched"
                                    class="text-danger mt-1">
                                    <small>Tipo de conta é obrigatório.</small>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="pix">Chave Pix</label>
                                <input id="pix" type="text" class="form-control" formControlName="pix"
                                    placeholder="Celular, CPF, e-mail...">
                                <div *ngIf="bankForm.get('pix')?.invalid && bankForm.get('pix')?.touched"
                                    class="text-danger mt-1">
                                    <small>Chave Pix é obrigatória.</small>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success w-100"
                                style="background-color: #219EBC; border-color: #219EBC;">Adicionar</button>
                        </form>
                    </div>
                </div>


            </div>

            <div formArrayName="idiomas" class="mb-3 mt-2">
                <label for="idioma" class="form-label d-block">Idiomas</label>
                <div *ngFor="let idioma of idiomasList; let i = index" class="form-check-inline">
                    <input type="checkbox" class="form-check-input custom-checkbox" [formControlName]="i"
                        [id]="'idioma' + i" />
                    <label class="form-check-label ms-2" [for]="'idioma' + i">{{ idioma }}</label>
                </div>
                <div *ngIf="form.get('idiomas')?.invalid && (form.get('idiomas')?.dirty || form.get('idiomas')?.touched)"
                    class="text-danger">
                    Selecione pelo menos um idioma.
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 mt-4">
                    <label for="periodo" class="form-label d-block">Período</label>
                    <div formArrayName="periodo">
                        <div *ngFor="let periodo of periodoList; let i = index" class="form-check form-check-inline">
                            <input class="form-check-input custom-checkbox" type="checkbox" [formControlName]="i"
                                [id]="'periodo' + i">
                            <label class="form-check-label" [for]="'periodo' + i">{{ periodo }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 mt-4">
                    <label for="disponibilidade" class="form-label d-block">Dia da semana</label>
                    <div formArrayName="disponibilidade">
                        <div *ngFor="let disponibilidade of disponibilidadeList; let i = index"
                            class="form-check form-check-inline">
                            <input class="form-check-input custom-checkbox" type="checkbox" [formControlName]="i"
                                [id]="'disponibilidade' + i">
                            <label class="form-check-label" [for]="'disponibilidade' + i">{{ disponibilidade }}</label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-8 mt-4">
                    <label for="especialidade" class="form-label d-block">Especialidade</label>
                    <div formArrayName="especialidades">
                        <div *ngFor="let especialidade of especialidadesList; let i = index"
                            class="form-check form-check-inline">
                            <input class="form-check-input custom-checkbox" type="checkbox" [formControlName]="i"
                                [id]="'especialidade' + i">
                            <label class="form-check-label" [for]="'especialidade' + i">{{ especialidade }}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row g-3 mt-2">
                    <div class="col-lg-12 d-block">
                        <label for="bio" class="form-label">Bio</label>
                        <textarea class="form-control input-alta" id="bio" formControlName="bio"
                            placeholder="Escreva algo sobre você" rows="5" (input)="ajustarAltura($event)"
                            required></textarea>
                    </div>
                </div>
            </div>


        </div>
        <div class="text-center mt-5">
            <button type="button" style="background-color: #219EBC; border-color: #219EBC;" (click)="salvar()"
                class="btn btn-primary w-50 rounded-pill align-items-center"> salvar
            </button>
        </div>
    </form>
</div>