@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container {
    margin: 0 auto;
    padding: 0 16px;
    font-family: 'montserrat', sans-serif;
}

.header {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center; /* Alinha verticalmente ao centro */
  padding-left: 70px;  /* Espaço da esquerda */
}

.back-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* position: absolute; removido */
}

.email-pequeno {
  max-width: 1000px; /* largura menor para o campo */
  width: 100%;      /* para manter responsividade até o limite */
}


