<div>
    <div class="d-flex flex-column vh-100">
        <app-menu-superior></app-menu-superior>

        <div class="d-flex flex-grow-1">
            <app-menu-lateral></app-menu-lateral>

            <div class="container">
                <div class="input-group w-75 mt-4">

                    <div class="input-group-text bg-transparent border-0"><input class="form-control rounded-pill"
                            type="search" placeholder="Buscar Alunos" aria-label="Search">
                        <button class="btn bg-transparent bi-search"></button>
                    </div>
                    <button class="btn bg-transparent bi-sliders"></button>
                </div>



                <div class="row mt-4">
                    <div class="col-md">
                        <div class="card card-custom">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3 mt-2">
                                        <img src="./matheus.png" alt="Imagem de perfil" class="rounded-circle"
                                            width="80" height="80">
                                    </div>
                                    <div class="col-sm-5 d-flex align-items-center mt-3 text-nowrap">
                                        <h6 class="card-title negrito">Nome big do Aluno, idade anos</h6>
                                    </div>
                                    <div class="col text-end">
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row mt-1">
                                        <p class="card-text">
                                            <strong>Idioma buscado:</strong> Preencher <br>
                                            <strong>Modalidade:</strong> Preencher <br>
                                            <strong>Nível:</strong> Preencher <br>
                                            <strong>Metodologia:</strong> Preencher <br>
                                            <strong>Distância de você:</strong> Preencher
                                        </p>
                                    </div>
                                    <div class="row d-flex align-items-center justify-content-center">
                                        <div class="col d-flex justify-content-end mt-3">
                                            <button type="button"
                                                style="background-color: #FB8501; border-color: #FB8501;"
                                                class="btn btn-primary botao-menor text-button"> Conferir
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="card card-custom">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3 mt-2">
                                        <img src="./matheus.png" alt="Imagem de perfil" class="rounded-circle"
                                            width="80" height="80">
                                    </div>
                                    <div class="col-sm-5 d-flex align-items-center mt-3 text-nowrap">
                                        <h6 class="card-title negrito">Nome big do Aluno, idade anos</h6>
                                    </div>
                                    <div class="col text-end">
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row mt-1">
                                        <p class="card-text">
                                            <strong>Idioma buscado:</strong> Preencher <br>
                                            <strong>Modalidade:</strong> Preencher <br>
                                            <strong>Nível:</strong> Preencher <br>
                                            <strong>Metodologia:</strong> Preencher <br>
                                            <strong>Distância de você:</strong> Preencher
                                        </p>
                                    </div>
                                    <div class="row d-flex align-items-center justify-content-center">
                                        <div class="col d-flex justify-content-end mt-3">
                                            <button type="button"
                                                style="background-color: #FB8501; border-color: #FB8501;"
                                                class="btn btn-primary botao-menor text-button"> Conferir
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="card card-custom">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3 mt-2">
                                        <img src="./matheus.png" alt="Imagem de perfil" class="rounded-circle"
                                            width="80" height="80">
                                    </div>
                                    <div class="col-sm-5 d-flex align-items-center mt-3 text-nowrap">
                                        <h6 class="card-title negrito">Nome big do Aluno, idade anos</h6>
                                    </div>
                                    <div class="col text-end">
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row mt-1">
                                        <p class="card-text">
                                            <strong>Idioma buscado:</strong> Preencher <br>
                                            <strong>Modalidade:</strong> Preencher <br>
                                            <strong>Nível:</strong> Preencher <br>
                                            <strong>Metodologia:</strong> Preencher <br>
                                            <strong>Distância de você:</strong> Preencher
                                        </p>
                                    </div>
                                    <div class="row d-flex align-items-center justify-content-center">
                                        <div class="col d-flex justify-content-end mt-3">
                                            <button type="button"
                                                style="background-color: #FB8501; border-color: #FB8501;"
                                                class="btn btn-primary botao-menor text-button"> Conferir
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">

                    <div class="col-md">
                        <div class="card card-custom">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3 mt-2">
                                        <img src="./matheus.png" alt="Imagem de perfil" class="rounded-circle"
                                            width="80" height="80">
                                    </div>
                                    <div class="col-sm-5 d-flex align-items-center mt-3 text-nowrap">
                                        <h6 class="card-title negrito">Nome big do Aluno, idade anos</h6>
                                    </div>
                                    <div class="col text-end">
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row mt-1">
                                        <p class="card-text">
                                            <strong>Idioma buscado:</strong> Preencher <br>
                                            <strong>Modalidade:</strong> Preencher <br>
                                            <strong>Nível:</strong> Preencher <br>
                                            <strong>Metodologia:</strong> Preencher <br>
                                            <strong>Distância de você:</strong> Preencher
                                        </p>
                                    </div>
                                    <div class="row d-flex align-items-center justify-content-center">
                                        <div class="col d-flex justify-content-end mt-3">
                                            <button type="button"
                                                style="background-color: #FB8501; border-color: #FB8501;"
                                                class="btn btn-primary botao-menor text-button"> Conferir
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="card card-custom">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3 mt-2">
                                        <img src="./matheus.png" alt="Imagem de perfil" class="rounded-circle"
                                            width="80" height="80">
                                    </div>
                                    <div class="col-sm-5 d-flex align-items-center mt-3 text-nowrap">
                                        <h6 class="card-title negrito">Nome big do Aluno, idade anos</h6>
                                    </div>
                                    <div class="col text-end">
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row mt-1">
                                        <p class="card-text">
                                            <strong>Idioma buscado:</strong> Preencher <br>
                                            <strong>Modalidade:</strong> Preencher <br>
                                            <strong>Nível:</strong> Preencher <br>
                                            <strong>Metodologia:</strong> Preencher <br>
                                            <strong>Distância de você:</strong> Preencher
                                        </p>
                                    </div>
                                    <div class="row d-flex align-items-center justify-content-center">
                                        <div class="col d-flex justify-content-end mt-3">
                                            <button type="button"
                                                style="background-color: #FB8501; border-color: #FB8501;"
                                                class="btn btn-primary botao-menor text-button"> Conferir
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="card card-custom">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3 mt-2">
                                        <img src="./matheus.png" alt="Imagem de perfil" class="rounded-circle"
                                            width="80" height="80">
                                    </div>
                                    <div class="col-sm-5 d-flex align-items-center mt-3 text-nowrap">
                                        <h6 class="card-title negrito">Nome big do Aluno, idade anos</h6>
                                    </div>
                                    <div class="col text-end">
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row mt-1">
                                        <p class="card-text">
                                            <strong>Idioma buscado:</strong> Preencher <br>
                                            <strong>Modalidade:</strong> Preencher <br>
                                            <strong>Nível:</strong> Preencher <br>
                                            <strong>Metodologia:</strong> Preencher <br>
                                            <strong>Distância de você:</strong> Preencher
                                        </p>
                                    </div>
                                    <div class="row d-flex align-items-center justify-content-center">
                                        <div class="col d-flex justify-content-end mt-3">
                                            <button type="button"
                                                style="background-color: #FB8501; border-color: #FB8501;"
                                                class="btn btn-primary botao-menor text-button"> Conferir
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">

                    <div class="col-md">
                        <div class="card card-custom">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3 mt-2">
                                        <img src="./matheus.png" alt="Imagem de perfil" class="rounded-circle"
                                            width="80" height="80">
                                    </div>
                                    <div class="col-sm-5 d-flex align-items-center mt-3 text-nowrap">
                                        <h6 class="card-title negrito">Nome big do Aluno, idade anos</h6>
                                    </div>
                                    <div class="col text-end">
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row mt-1">
                                        <p class="card-text">
                                            <strong>Idioma buscado:</strong> Preencher <br>
                                            <strong>Modalidade:</strong> Preencher <br>
                                            <strong>Nível:</strong> Preencher <br>
                                            <strong>Metodologia:</strong> Preencher <br>
                                            <strong>Distância de você:</strong> Preencher
                                        </p>
                                    </div>
                                    <div class="row d-flex align-items-center justify-content-center">
                                        <div class="col d-flex justify-content-end mt-3">
                                            <button type="button"
                                                style="background-color: #FB8501; border-color: #FB8501;"
                                                class="btn btn-primary botao-menor text-button"> Conferir
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="card card-custom">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3 mt-2">
                                        <img src="./matheus.png" alt="Imagem de perfil" class="rounded-circle"
                                            width="80" height="80">
                                    </div>
                                    <div class="col-sm-5 d-flex align-items-center mt-3 text-nowrap">
                                        <h6 class="card-title negrito">Nome big do Aluno, idade anos</h6>
                                    </div>
                                    <div class="col text-end">
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row mt-1">
                                        <p class="card-text">
                                            <strong>Idioma buscado:</strong> Preencher <br>
                                            <strong>Modalidade:</strong> Preencher <br>
                                            <strong>Nível:</strong> Preencher <br>
                                            <strong>Metodologia:</strong> Preencher <br>
                                            <strong>Distância de você:</strong> Preencher
                                        </p>
                                    </div>
                                    <div class="row d-flex align-items-center justify-content-center">
                                        <div class="col d-flex justify-content-end mt-3">
                                            <button type="button"
                                                style="background-color: #FB8501; border-color: #FB8501;"
                                                class="btn btn-primary botao-menor text-button"> Conferir
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="card card-custom">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3 mt-2">
                                        <img src="./matheus.png" alt="Imagem de perfil" class="rounded-circle"
                                            width="80" height="80">
                                    </div>
                                    <div class="col-sm-5 d-flex align-items-center mt-3 text-nowrap">
                                        <h6 class="card-title negrito">Nome big do Aluno, idade anos</h6>
                                    </div>
                                    <div class="col text-end">
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star-fill" style="color: #FFB703;"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row mt-1">
                                        <p class="card-text">
                                            <strong>Idioma buscado:</strong> Preencher <br>
                                            <strong>Modalidade:</strong> Preencher <br>
                                            <strong>Nível:</strong> Preencher <br>
                                            <strong>Metodologia:</strong> Preencher <br>
                                            <strong>Distância de você:</strong> Preencher
                                        </p>
                                    </div>
                                    <div class="row d-flex align-items-center justify-content-center">
                                        <div class="col d-flex justify-content-end mt-3">
                                            <button type="button"
                                                style="background-color: #FB8501; border-color: #FB8501;"
                                                class="btn btn-primary botao-menor text-button"> Conferir
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>