@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container {
    margin: 0 auto;
    padding: 0 16px;
    font-family: 'montserrat', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.back-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile-content {
    max-width: 1400px;
    margin-bottom: 50px;
    margin-left: 70px;
    position: relative; 
}

.contact-button {
    background-color: #82c4db;
    color: black;
    border: none;
    border-radius: 30px;
    padding: 10px 40px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 920px;
    margin-bottom: 100px;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 70px;
}

.profile-image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    flex: 1;
}

.profile-name {
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 5px 0;
    margin-left: 10px;
}

.profile-idioma {
    font-size: 18px;
    color: #555;
    margin: 0 0 5px 0;
    margin-left: 300px;
    margin-top: -30px;
}

.flag-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
}

.profile-nivel {
    font-size: 18px;
    color: #555;
    margin: 0 0 5px 0;
    margin-left: 470px;
    margin-top: -30px;
}

.profile-modalidade {
    font-size: 18px;
    color: #555;
    margin: 0 0 5px 0;
    margin-left: 670px;
    margin-top: -30px;
}

.profile-title {
    font-size: 18px;
    color: #555;
    margin: 0 0 5px 0;
    margin-left: 10px;
    margin-top: 15px;
}

.profile-status {
    font-size: 12px;
    color: #555;
    margin: 0 0 5px 0;
    margin-left: 10px;
    margin-top: -10px;
}

.profile-content {
    display: flex;
    margin-top: -60px;
}

/* bio */
.bio-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    border: 1px solid black;
    max-width: 1050px;
    max-height: 200px;
    margin-left: 0; 
    margin-top: -30px;
}

/* avaliações */
.reviews-card {
    background-color: #fff;
    padding: 25px;
    border: 1px solid black;
    max-width: 1050px;
    max-height: 600px;
    margin-left: 0; 
    margin-top: -40px;
    overflow-y: auto;
    margin-left: 70px;
    position: relative; 
}

.reviews-card h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-weight: normal;
}

.review-item {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.review-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.review-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.review-user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
    margin-top: -10px;
}

.review-user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-user-info {
    flex: 1;
}

.review-user-name {
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 3px 0;
    color: #333;
}

.review-stars {
    color: gold;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: end;
    margin-top: -25px;
}

.review-content {
    font-size: 14px;
    line-height: 1.4;
    color: #555;
}

.review-content p {
    margin: 0;
}


/* Responsividade */
@media (max-width: 768px) {
    .profile-header {
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }

    .profile-image {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .profile-rating {
        margin-top: 15px;
    }

    .profile-content {
        flex-direction: column;
        margin-left: 0;
    }

    .left-column {
        width: 100%;
        margin-right: 0;
    }

    .right-column {
        margin-left: 0; 
        width: 100%;
    }

    .type-card,
    .pricing-card,
    .bio-card,
    .reviews-card {
        max-width: 100%;
    }
}