<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start bg-body-tertiary">
  <a href="#" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
    <img src="/Logo-AulaGo.png" width="130" alt="">
  </a>

  <ul class="nav col-12 col-lg-auto my-2 justify-content-center m-3 gap-3 my-md-0 text-small">
    <li>
      <a href="/chat-professor" class="nav-link text-secondary">
        <img src="/chat.png" width="40" alt="">
      </a>
    </li>
    <li>
      <a href="/notificacoes" class="nav-link text-secondary">
        <img src="/notificacoes.png" width="25" alt="">
      </a>
    </li>
    <li>
      <a href="/perfil-professor" class="d-block link-body-emphasis text-decoration-none dropdown-toggle show"
        data-bs-toggle="dropdown" aria-expanded="true">
        <img src="/img-professora.png" alt="mdo" width="40" height="40" class="rounded-circle">
      </a>
    </li>
  </ul>
</div>