<div>
    <!-- <div class="col-md-12"> -->
        
            <div class="d-flex flex-column vh-100">
              <app-menu-superior-aluno></app-menu-superior-aluno>
          
          
              <div class="d-flex flex-grow-1">
                <app-menu-lateral-aluno></app-menu-lateral-aluno>
          
          
                <div class="flex-grow-1 overflow-auto p-3">
                    <h4 class="mb-4">Home Aluno</h4>

                   
                </div>
            
                    
          
              </div>
            </div>
          
    <!-- </div> -->
</div>
