<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary pt-5" style="width: 230px; height: 1080px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item d-flex justify-content-center">
        <a routerLink="home" routerLinkActive="active" class="nav-link active">
          <img src="/home.png" width="35" height="35" alt=""><br>
          Home
        </a>
      </li>
      <li class="nav-item d-flex justify-content-center">
        <a routerLink="explorar" routerLinkActive="active" class="nav-link active">
          <img src="/explorar.png" width="35" height="35" alt=""><br>
          Procurar <br> Alunos
        </a>
      </li>
      <li class="nav-item d-flex justify-content-center">
        <a routerLink="aulas" routerLinkActive="active" class="nav-link active">
          <img src="/aulas1.png" width="35" height="35" alt=""><br>
          Aulas
        </a>
      </li>
      <li class="nav-item d-flex justify-content-center">
        <a routerLink="agenda" routerLinkActive="active" class="nav-link active">
          <img src="/agenda.png" width="35" height="35" alt=""><br>
          Agenda
        </a>
      </li>
    </ul>
    <hr>
</div>