<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary h-100" style="width: 150px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li id="botao_lateral" class="nav-item d-flex justify-content-center">
        <a routerLink="/home-professor" routerLinkActive="active" class="nav-link active">
          <img src="/home.png" width="20" alt=""><br>
          Home
        </a>
      </li>
      <li id="botao_lateral" class="nav-item d-flex justify-content-center">
        <a routerLink="/explorar" routerLinkActive="active" class="nav-link active">
          <img src="/explorar.png" width="20" alt=""><br>
          Procurar Alunos
        </a>
      </li>
      <li id="botao_lateral" class="nav-item d-flex justify-content-center">
        <a routerLink="/aulas" routerLinkActive="active" class="nav-link active">
          <img src="/aulas.png" width="20" alt=""><br>
          Aulas
        </a>
      </li>
      <li id="botao_lateral" class="nav-item d-flex justify-content-center">
        <a routerLink="/agenda" routerLinkActive="active" class="nav-link active">
          <img src="/agenda.png" width="20" alt=""><br>
          Agenda
        </a>
      </li>
    </ul>
    <hr>
</div>